<div class="header-container">
  <div class="main-container">
    <div class="logo-container">
      <p class="logo"><a [routerLink]="'/home'">LfyEz</a></p>
    </div>
    <div class="nav-container">
      <div class="nav-link">
        <ul class="nav-links">
          <li class="nav-link-item">
            <a [routerLink]="'/space'" class="nav-link-unique"
              ><i class="bi bi-moon-stars"></i>Space
              <div class="dropdown-container">
                <ul class="features-list">
                  <li class="features-link">
                    <a href="http://google.com">Feature 1</a>
                  </li>
                  <li class="features-link">
                    <a href="http://google.com">Feature 2</a>
                  </li>
                  <li class="features-link">
                    <a href="http://google.com">Feature 3</a>
                  </li>
                  <li class="features-link">
                    <a href="http://google.com">Feature 4</a>
                  </li>
                </ul>
              </div>
            </a>
          </li>
          <li class="nav-link-item">
            <a href="http://google.com">Features</a>
          </li>
          <li class="nav-link-item">
            <a href="http://google.com">About Us</a>
          </li>
          <li class="nav-link-item"><a href="http://google.com">Contact</a></li>
          <li class="nav-link-item"><a href="http://google.com">Join Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
