<div class="footer-container">
  <div class="main-container">
    <div class="logo">
      <h3>LfyEz</h3>
      <span>One men army</span>
    </div>
    <div class="nav-links-group-1">
      <ul class="nav nav-links">
        <li class="nav-link"><a href="https://google.comm">Carrers</a></li>
        <li class="nav-link"><a href="https://google.comm">SiteMap</a></li>
        <li class="nav-link"><a href="https://google.comm">Robots</a></li>
        <li class="nav-link"><a href="https://google.comm">Locations</a></li>
      </ul>
    </div>
    <div class="nav-links-group-2">
      <ul class="nav nav-links">
        <li class="nav-link"><a href="https://google.comm">Contact</a></li>
        <li class="nav-link"><a href="https://google.comm">Poilices</a></li>
        <li class="nav-link">
          <a href="https://google.comm">Terms and Conditions</a>
        </li>
        <li class="nav-link">
          <a href="https://google.comm">Fair Usage policy</a>
        </li>
      </ul>
    </div>
  </div>
</div>
