table{
  border : 1px solid #242424;
  background-color: #282828;
  color: white;
  width: 50%;
}

th{
  background-color: #F5C518;
  color:#242424;
  padding : 5px;
}

td{
  padding : 5px;
  text-align : center;
}

.table-container{
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // border : 1px solid green;
  width : 75%;
  margin : 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

input{
  width : 90%;
  height : 40px;
  border : 1px solid #242424;
  font-size: 18px;
  padding: 5px;
}

.btn-search{
  width : 10%;
  padding : 5px 5px;
  border : 1px solid #242424;
  background-color: #F5C518;
  color: #282828;
  font-size: 16px;
}

input:focus{
  outline : 0;
}

.search-container{
  width: 50%;
  display: flex;
  // justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}